.cart-container {
    padding: 30px;
    background: #fff;
    border-radius: 4px;
}

.cart-page-footer {
    margin-top: 30px;
    display: flow-root;
    justify-content: space-between;
    align-items: center;
}

.cart-footer-button {
    background: #7159c1;
    color: #fff;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background 0.2s;
}

.cart-footer-button:hover {
    background: #7159c1;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.cart-table-div {
    overflow-x: auto;
}

.cart-table-data {
    text-align: center;
}

.cart-table-text-strong {
    color: #333;
    display: block;
}

.cart-table-text-span {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
}

.total {
    display: flex;
    align-items: baseline;
    float: right;
}

.total-title {
    color: #999;
    font-weight: bold;
}

.total-amount {
    font-size: 28px;
    margin-left: 5px;
}

.image-preview {
    height: 100px;
}

.order-information-form {
    margin-top: 20px;
    background-color: #f7f8fa;
    padding: 20px;
}

.form-title {
    text-align: center;
    color: black;
    font-size: 18px;
    padding: 20px;
    margin-top: 20px;
    font-weight: 700;
}

.grid-container {
    background-color: #f7f8fa;
    padding: 20px;
    max-width: 1200px;
    display: grid;
    grid-gap: 1rem;
}

@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

.form-input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}

.error-msg {
    margin: 0;
    color: #7a0808;
    font-size: 12px;
}

.checkout-btn {
    border: 0;
    border-radius: 4px;
    color: white;
    transition: background 0.2s;
    float: right;
    background: #7a0808;
    height: 50px;
    width: 200px;
    font-size: 18px;
    font-weight: 700;
}

.checkout-btn:disabled,
.checkout-btn[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}