.cart-item {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 20px;
}

.cart-item-img {
    align-self: center;
    max-width: 250px;
}

.cart-item-title {
    font-size: 14px;
    line-height: 20px;
    color: #333;
    margin-top: 5px;
    text-align: start;
}

.span {
    text-align: start;
}

.cart-item-button {
    height: 30px;
    background: #7159c1;
    color: #fff;
    border: 0;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: background 0.2s;
    align-content: center;
    justify-content: center;
    margin-top: 5px;
}

.cart-item-button-clicked {
    height: 30px;
    background: orange;
    color: #fff;
    border: 0;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: background 0.2s;
    align-content: center;
    justify-content: center;
    margin-top: 5px;
}

.cart-item-button:hover {
    background: #7159c1;
}

.cart-item-span {
    flex: 1;
    text-align: center;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    align-content: center;
}

