.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}

.header {
    background: white;
    padding: 30px 32px;
    box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.033);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    animation: slideUp 300ms linear;

}

.container {
    display: flex;
    display: -webkit-flex;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 32px;
}

.cart {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: opacity 0.2s;
}

.cart-info {

}

.cart-info table {
    font-size: 14px;
    color: green;
    text-align: right;
}

.cart-info table tr {
    padding: 0;
    margin: 0;
}

.cart-info table td {
    padding: 0 4px;
    line-height: 16px;
}

.cart-icon {
    margin-left: 16px;
    z-index: 99;
    position: relative;
}

.cart-count {
}

.cart-preview {
    display: none;
    background: white;
    border: 1px solid gray;
}

.cart-preview:before {
    content: "";
    position: absolute;
    display: block;
    top: -9px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid gray;
    z-index: 1;
}

.cart-preview:after {
    content: "";
    position: absolute;
    display: block;
    top: -7px;
    right: 9px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid white;
    z-index: 1;
}

.cart-preview.active {
    z-index: 99;
    display: block;
    position: absolute;
    top: 48px;
    right: 0;
    width: 360px;
    height: 388px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.action-block {
    background: white;
    position: absolute;
    bottom: 0;
    padding: 16px;
    width: 100%;
}

.cart-items {
    height: 320px;
    overflow-y: auto;
    width: 360px;
}

.cart-item {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    padding: 8px;
}
