.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}

.container {
    display: flex;
    display: -webkit-flex;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 32px;
}

.cart {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: opacity 0.2s;
}

.cart-info {

}

.cart-info table {
    font-size: 14px;
    color: #ffffff;
    text-align: right;
}

.cart-info table tr {
    padding: 0;
    margin: 0;
}

.cart-info table td {
    padding: 0 4px;
    line-height: 16px;
}

.cart-icon {
    margin-left: 16px;
    z-index: 99;
    position: relative;
}

.logo {
    text-decoration: none;
}
